
.card {
    background-color: #172024;
    border-radius: 2px solid white;
    padding: 1rem  2rem;
}

.button {
    background-color: #f5e129; 
    font-family: 'Poppins', sans-serif;  
    font-weight: 700;
    margin: 1rem 0;
}