body{ 
    color: white;
}

.block {
    background-color: white;
    padding: 1rem;
    border: solid 10px rgb(31, 0, 80); 
}


.inline { 
    display: inline;
}

.index { 
    margin: 0 .1rem;
    font-size: 25px;
}

.value {
    user-select: none; 
    flex: 50%;
    border: solid 4px #d64e4b;
    background: #ab4543;
    margin: 0 .05rem;
    font-size: 25px;
    padding: 2rem;
    color: white;
    transition: padding .4s;
}
.value:hover {
    font-size: 30px;
    padding: 4rem;
    cursor: pointer;
}


.active {
    border: solid 4px #00f2ff;
    background: #10a8b2;
    font-size: 27px;
    padding: 2.5rem;
}