body{ 
    color: white;
}

.block {
    background-color: white;
    padding: 1rem;
    border: solid 10px rgb(31, 0, 80); 
}

.inline { 
    display: inline;
}

.index { 
    margin: 0 .1rem;
    font-size: 25px;
}

.value {
    user-select: none; 
    flex: 50%;
    border: solid 4px white;
    background: #299af5;
    // margin: 0 .05rem;    
    font-size: 2rem;
    padding: 2rem;
    color: #161819;
    transition: all 500ms ease;
    transition-property: font-size, padding;
}

:host {
    ::ng-deep .mat-card {    
        border-radius:0;
    }
}
.value:hover {
    font-size: 3.5rem;
    border: solid 6px white;
    cursor: pointer
}

.active {
    color:#161819;
    border: solid 4px white;
    background: white;
    font-size: 3rem;
    padding: 2.5rem;
}

// array round edges
.start{
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.end{
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}