.container { 
    max-width: 80%;
    margin: 0 auto;
}

.nav-btn{
    user-select: none;
    font-family: 'Poppins', sans-serif;  
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin-right: 2rem;
    padding: 0;
    font-size: 1.5rem;
    color: white;
    background-color:#161819;
    transition: all 500ms ease;
    transition-property: background-color, padding, text-decoration;
}

.nav-btn:hover {
    background-color: white;
    color: #161819;
    padding: 0 2rem 0 0;
    
}

.active {
    text-decoration: overline wavy #f5e129;
}

.navbar{
    margin-top: 3rem;
}