
<div class="container">
  <nav class="navbar">
    <div>
      <button class="nav-btn" routerLinkActive="active" routerLink="/problem">problem</button>
      <button class="nav-btn" routerLinkActive="active" routerLink="/visualizer">visualizer</button>
    </div>
    <span> Like this project? star <a class="share" href="https://github.com/wahmd/kadanes-algorithm-visualizer" target="_blank">this repository</a></span>

  </nav>
  <router-outlet></router-outlet>
  <app-made-with-love></app-made-with-love>
</div>