
<app-array *ngIf="array" [array]="array"></app-array>
<div class="section-2">
    <div class="code code-container">
        <h2>Kadane's algorithm steps</h2>
        <div [ngClass]="{current: current === 1}" class="line" [innerHTML]="'maximumCurrent = nums[0]'"></div>
        <div [ngClass]="{current: current === 2}" class="line" [innerHTML]="'maximumGlobal = nums[0]'"></div>
        <div [ngClass]="{current: current === 3}" class="line" [innerHTML]="'for i equals 1 to i less than nums length do'"></div>
        <div class="indent">
            <div [ngClass]="{current: current === 4}" class="line" [innerHTML]="'maximumCurrent = Maximum between nums[i] And maximumCurrent + nums[i]'"></div>
            <div [ngClass]="{current: current === 5}" class="line" [innerHTML]="'if maximumCurrent is less than maximumGlobal '"></div>
            <div [ngClass]="{current: current === 6}" class="line indent" [innerHTML]="'maximumGlobal = maximumCurrent'"></div>
        </div>
        <div [ngClass]="{current: current === 7}" class="line" [innerHTML]="'return maximumGlobal'"></div>
    </div>
    <app-display-panel class="display" 
        (autoClicked)="autoPlay()" (nextClicked)="increment()" 
        (generateClicked)="populateRandomArray()" [generateBtn]="generateBtn"
        [autoBtn]="autoPlayBtn" [current]="current" [speed]="speed"
        [maxCurrent]="maxCurrent" [maxGlobal]="maxGlobal" 
        [nextBtn]="nextBtn" (speedUpdated)="updateSpeed($event)"> 
    </app-display-panel>
</div>
