body {
    margin: 0;
}


.line {
    user-select: none; 
    margin: .5rem 0;
    font-size: 1rem;
    font-weight: 400;
}
.current {
    border-radius: .5rem;;
    padding: .5rem;
    background-color: #f5e129;
    font-weight: 500;
    font-size:1.5rem;
    color: #2c2c2c;
}

.section-2{
    display:flex;
    color: white;
    flex-wrap: wrap;
    .code {
        flex: 2;
        border-radius: 1.5rem;
    }
    .code-container{
        padding: 2rem 0; 
    }
    .display {
        flex: 1;
    }
}
.title {
    margin-top: 0;
}

.indent{
    margin-left: 1.5rem;
}
